$base-bg            : #121212;
$base-text          : #ececec;
$primary            : #1565c0;
$primary-dark       : #003c8f;
$primary-light      : #5e92f3;
$secondary          : #fff59d;
$secondary-dark     : #cbc26d;
$secondary-light    : #ffffcf;