@use 'mixin';
@use 'shared';
@use 'colors';

.book-form {
    max-width       : 600px;
    margin-left     : auto;
    margin-right    : auto;
}

.book-nocover {
    width: 200px;
}

.book-detail-grid {
    display: grid;
    grid-template-columns: 400px 3px 1fr;
    grid-template-rows: minmax(100px, 350px) 1fr;
    row-gap: .5rem;
    column-gap: 1rem;
}

.book-cover {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    max-width: 400px;
}

.book-detail {
    grid-column-start: 3;
    grid-row-start: 1;

    table {
        tr {
            td:nth-child(2) {
                padding: 0 1rem;
            }
        }
    }
}

.book-desc {
    grid-column-start   : 3;
    grid-row-start      : 2;
}

.book-detail-divider {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    width: 3px;
}

.book-availability {
    align-items: center;
}

.book-available {
    color: #12b878;
}

.book-unavailable {
    color: #e71e10;
}

.book-pinjam-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: minmax(100px, 175) 1fr;
    column-gap: 1rem;

    .book-cover {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: span 2;
        max-width: 200px;
    }

    .book-detail {
        grid-column-start: 2;
        grid-row-start: 1;

        table {
            tr {
                td:nth-child(1) {
                    white-space: nowrap;
                }

                td {
                    vertical-align: top;
                }
            }
        }
    }

    .book-pinjam-grid {
        grid-column-start: 2;
        grid-row-start: 2;
    }
}

input[type=file] {
    background-color: rgba(0,0,0,0);
}

input, input[type=date] {
    background-color: mixin.elevation-color(5);
    border: none;
}

input[type=date] {
    padding: .5rem .5rem;
    color: colors.$base-text;

    &:-moz-read-only {
        color: mixin.color-set-opacity(colors.$base-text, .6);
    }

    &:read-only {
        color: mixin.color-set-opacity(colors.$base-text, .6);
    }
}

.list-buku-dipinjam {
    table-layout: fixed;
    width: 100%;
    border: 1px solid mixin.color-set-opacity(colors.$base-text, .6);
    border-collapse: collapse;

    th, td {
        border: 1px solid mixin.color-set-opacity(colors.$base-text, .6);

        &:nth-child(1) {
            width: 150px;
            padding: .5rem .5rem;
        }

        &:nth-child(2) {
            width: auto;
            padding-left: .5rem;
        }
        
        &:nth-child(3) {
            width: 100px;
            text-align: center;
        }
    }

    td {
        img {
            max-width: 100%;
        }

        &:nth-child(2) {
            vertical-align: top;
        }
    }
}

table.detail-buku {
    table-layout: auto;

    td {
        border: none;
        vertical-align: top;

        &:nth-child(1) {
            width: auto;
            white-space: nowrap;
            padding: 0;
        }

        &:nth-child(2) {
            width: auto;
            padding: 0 .25rem;
        }

        &:nth-child(3) {
            width: auto;
            text-align: left;
        }
    }
}